<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".data.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAE"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.Information.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ScanQRCollection.ScanQRCodeColloectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GoogleMap.GMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CollectBattery.CollectBatteryActivity"
            android:exported="false"
            android:theme="@style/Theme.BAE.NoActionBar" />
        <activity
            android:name=".ui.Voucher.VoucherOfUser.VoucherOfUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CheckCodeOTP.CheckCodeOPTActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Voucher.ChangeVoucher.ChangeVoucherActivity"
            android:exported="false"
            android:theme="@style/Theme.BAE.NoActionBar" />
        <activity
            android:name=".ui.Voucher.ChooseBranch.ChooseBranchActivity"
            android:exported="false"
            android:theme="@style/Theme.BAE.NoActionBar" />
        <activity
            android:name=".ui.Profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.BAE.NoActionBar" />
        <activity
            android:name=".ui.Cart.ItemHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.BAE.NoActionBar" />
        <activity
            android:name=".ui.Login_SignUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BAE.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Login_SignUp.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.BAE.NoActionBar" />
    </application>

</manifest>